# Categorical Variable Embeddings

In this activity we will build two different models

    For first model, categorical attributes are convered in to dummy numeric variables
    For second model, categorical attributes not convered in to numberic. Each level is given unique number starting with zero and categorical embedding is used

#### Load the requied libraries

In [1]:
import pandas as pd
import numpy as np

from keras.models import Sequential, Model
from keras.layers import Dense, Activation, Embedding, concatenate, Flatten, Input

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

Using TensorFlow backend.

#### Read the data

In [2]:
df = pd.read_csv('cmc.data', header=None, names=['Age','Education','H_education',
                                                 'num_child','Religion', 'Employ',
                                                 'H_occupation','living_standard',
                                                 'Media_exposure','contraceptive'])

#### Understand the data

In [3]:
df.shape

(1473, 10)

Look at first few records

In [4]:
df.head()

,Age,Education,H_education,num_child,Religion,Employ,H_occupation,living_standard,Media_exposure,contraceptive
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

Summary statistics

In [5]:
df.describe(include='all')

,Age,Education,H_education,num_child,Religion,Employ,H_occupation,living_standard,Media_exposure,contraceptive
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

Type of all the attributes

In [6]:
df.dtypes

Age                int64
Education          int64
H_education        int64
num_child          int64
Religion           int64
Employ             int64
H_occupation       int64
living_standard    int64
Media_exposure     int64
contraceptive      int64
dtype: object

Identify the unique values for each of the attributes

In [7]:
for i in df.columns.values:
    print (i)
    print (pd.value_counts(df[i].values))

Age
25    80
26    69
32    64
30    64
28    63
35    62
24    61
22    59
27    59
29    59
36    57
33    55
37    51
34    50
21    48
31    46
23    44
38    44
47    43
45    41
42    40
44    39
43    34
39    34
40    34
41    34
48    30
20    28
49    23
46    22
19    18
17     8
18     7
16     3
dtype: int64
Education
4    577
3    410
2    334
1    152
dtype: int64
H_education
4    899
3    352
2    178
1     44
dtype: int64
num_child
2     276
1     276
3     259
4     197
5     135
0      97
6      92
7      49
8      47
9      16
11     11
10     11
12      4
13      2
16      1
dtype: int64
Religion
1    1253
0     220
dtype: int64
Employ
1    1104
0     369
dtype: int64
H_occupation
3    585
1    436
2    425
4     27
dtype: int64
living_standard
4    684
3    431
2    229
1    129
dtype: int64
Media_exposure
0    1364
1     109
dtype: int64
contraceptive
1    629
3    511
2    333
dtype: int64

Observation:

    Education, H_education, Religion, Employ, H_occupation, living_standard, Media_exposure and Contraceptive are having fixed set of values. Even though they are number they are Categorical Attributes.

Note: 
    
    Religion, Employ and Media_exposure are Categorical attributes with only two values/levels.
    Even after converting them to numeric using dummification, they will still have same 0 and 1 values, so directly took them as Numeric attributes.

##### Following two cells are for explination purpose

In [8]:
pd.value_counts(df.contraceptive.values)

1    629
3    511
2    333
dtype: int64

In [9]:
pd.value_counts(df.contraceptive.values-1)

0    629
2    511
1    333
dtype: int64

For second model, each level/value in each independent categorical attribute is represented as number starting with zero 

    All categorical attributes has levels starting with 1, so substract one.

In [10]:
df[['Education', 'H_education', 'H_occupation', 'living_standard', 'contraceptive']] = df[['Education', 'H_education', 'H_occupation', 'living_standard', 'contraceptive']] -1

In [11]:
edu_ind_attr = df.Education.values
h_edu_ind_attr = df.H_education.values
h_occ_ind_attr = df.H_occupation.values
liv_std_ind_attr = df.living_standard.values

Convert the attributes to appropriate type

In [12]:
for col in ['Education', 'H_education', 'H_occupation', 'living_standard', 'contraceptive']:
    df[col] = df[col].astype('category')

In [13]:
df.dtypes

Age                   int64
Education          category
H_education        category
num_child             int64
Religion              int64
Employ                int64
H_occupation       category
living_standard    category
Media_exposure        int64
contraceptive      category
dtype: object

Summary Statistics

In [14]:
df.describe(include = "all")

,Age,Education,H_education,num_child,Religion,Employ,H_occupation,living_standard,Media_exposure,contraceptive
count,1473.000000,1473.0,1473.0,1473.000000,1473.000000,1473.000000,1473.0,1473.0,1473.000000,1473.0
unique,NaN,4.0,4.0,NaN,NaN,NaN,4.0,4.0,NaN,3.0
top,NaN,3.0,3.0,NaN,NaN,NaN,2.0,3.0,NaN,0.0
freq,NaN,577.0,899.0,NaN,NaN,NaN,585.0,684.0,NaN,629.0
mean,32.538357,NaN,NaN,3.261371,0.850645,0.749491,NaN,NaN,0.073999,NaN
std,8.227245,NaN,NaN,2.358549,0.356559,0.433453,NaN,NaN,0.261858,NaN
min,16.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN
25%,26.000000,NaN,NaN,1.000000,1.000000,0.000000,NaN,NaN,0.000000,NaN
50%,32.000000,NaN,NaN,3.000000,1.000000,1.000000,NaN,NaN,0.000000,NaN
75%,39.000000,NaN,NaN,4.000000,1.000000,1.000000,NaN,NaN,0.000000,NaN
max,49.000000,NaN,NaN,16.000000,1.000000,1.000000,NaN,NaN,1.000000,NaN

#### Missing value imputation

In [15]:
df.isnull().sum()

Age                0
Education          0
H_education        0
num_child          0
Religion           0
Employ             0
H_occupation       0
living_standard    0
Media_exposure     0
contraceptive      0
dtype: int64

#### Select only numeric independent attributes

In [16]:
num_ind_attr_names = df.select_dtypes(include=['int64']).columns

In [17]:
num_ind_attr = df[num_ind_attr_names]

In [18]:
num_ind_attr.head()

   Age  num_child  Religion  Employ  Media_exposure
0   24          3         1       1               0
1   45         10         1       1               0
2   43          7         1       1               0
3   42          9         1       1               0
4   36          8         1       1               0

#### Min Max Scaling

In [19]:
scaler = MinMaxScaler()

scaled_num_ind_attr = scaler.fit_transform(num_ind_attr)

/Users/samyam/anaconda3/envs/insofe/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [20]:
scaled_num_ind_attr

array([[0.24242424, 0.1875    , 1.        , 1.        , 0.        ],
       [0.87878788, 0.625     , 1.        , 1.        , 0.        ],
       [0.81818182, 0.4375    , 1.        , 1.        , 0.        ],
       ...,
       [0.6969697 , 0.5       , 1.        , 0.        , 0.        ],
       [0.51515152, 0.25      , 1.        , 0.        , 0.        ],
       [0.03030303, 0.0625    , 1.        , 1.        , 0.        ]])

#### Select categorical attributes

In [21]:
cat_attr_names = df.select_dtypes(include=['category']).columns

cat_attr_names

Index(['Education', 'H_education', 'H_occupation', 'living_standard',
       'contraceptive'],
      dtype='object')

In [22]:
cat_ind_attr_names = cat_attr_names[cat_attr_names != 'contraceptive']

print(cat_ind_attr_names)

cat_tar_attr_names = ['contraceptive']

Index(['Education', 'H_education', 'H_occupation', 'living_standard'], dtype='object')

#### Dummification 
    
    For first model, convert independetn categorical attributes to numeric using dummificcation
    
    Target categorical attribut has more than two level. For both the models, target categorical attribute is convert to numeric use dummification.

Convert independent categorical attribute to numeric using dummification

In [23]:
cat_ind_attr = pd.get_dummies(df[cat_ind_attr_names]).values

In [24]:
cat_ind_attr

array([[0, 1, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 1, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 1]], dtype=uint8)

In [25]:
cat_ind_attr.shape

(1473, 16)

Convert targeet categorical attribute to numeric using dummification

In [26]:
cat_tar_attr = pd.get_dummies(df[cat_tar_attr_names]).values

In [27]:
cat_tar_attr

array([[1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       ...,
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]], dtype=uint8)

In [28]:
cat_tar_attr.shape

(1473, 3)

In [29]:
n_edu_levels = np.size(np.unique(edu_ind_attr, return_counts=True)[0])
n_h_edu_levels = np.size(np.unique(h_edu_ind_attr, return_counts=True)[0])
n_h_occ_levels = np.size(np.unique(h_occ_ind_attr, return_counts=True)[0])
n_liv_std_levels = np.size(np.unique(liv_std_ind_attr, return_counts=True)[0])

In [30]:
print(n_edu_levels, n_h_edu_levels, n_h_occ_levels, n_liv_std_levels)

4 4 4 4

In [31]:
scaled_num_ind_attr_train, scaled_num_ind_attr_test, \
cat_ind_attr_train, cat_ind_attr_test, \
edu_ind_attr_train, edu_ind_attr_test, \
h_edu_ind_attr_train, h_edu_ind_attr_test, \
h_occ_ind_attr_train, h_occ_ind_attr_test, \
liv_std_ind_attr_train, liv_std_ind_attr_test, \
Y_train, Y_test = train_test_split(scaled_num_ind_attr,
                                                         cat_ind_attr, 
                                                         edu_ind_attr, 
                                                         h_edu_ind_attr,
                                                         h_occ_ind_attr,
                                                         liv_std_ind_attr,
                                                         cat_tar_attr,
                                                         test_size=0.1, random_state=123)

### Build First Model

In [35]:
X_train = np.hstack((scaled_num_ind_attr_train, cat_ind_attr_train))
X_test = np.hstack((scaled_num_ind_attr_test, cat_ind_attr_test))

In [36]:
model = Sequential()
model.add(Dense(12, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(3, activation='softmax'))

In [37]:
model.compile(loss='categorical_crossentropy', optimizer='adagrad', metrics=['accuracy'])

In [38]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 12)                264
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 39
=================================================================
Total params: 303
Trainable params: 303
Non-trainable params: 0
_________________________________________________________________

In [39]:
model.fit(X_train, Y_train, epochs=100, verbose=2)

Epoch 1/100
 - 0s - loss: 1.0998 - acc: 0.3630
Epoch 2/100
 - 0s - loss: 1.0586 - acc: 0.3955
Epoch 3/100
 - 0s - loss: 1.0483 - acc: 0.4045
Epoch 4/100
 - 0s - loss: 1.0418 - acc: 0.4113
Epoch 5/100
 - 0s - loss: 1.0373 - acc: 0.4143
Epoch 6/100
 - 0s - loss: 1.0337 - acc: 0.4242
Epoch 7/100
 - 0s - loss: 1.0307 - acc: 0.4204
Epoch 8/100
 - 0s - loss: 1.0280 - acc: 0.4211
Epoch 9/100
 - 0s - loss: 1.0254 - acc: 0.4211
Epoch 10/100
 - 0s - loss: 1.0229 - acc: 0.4272
Epoch 11/100
 - 0s - loss: 1.0208 - acc: 0.4272
Epoch 12/100
 - 0s - loss: 1.0190 - acc: 0.4287
Epoch 13/100
 - 0s - loss: 1.0171 - acc: 0.4317
Epoch 14/100
 - 0s - loss: 1.0155 - acc: 0.4347
Epoch 15/100
 - 0s - loss: 1.0138 - acc: 0.4294
Epoch 16/100
 - 0s - loss: 1.0124 - acc: 0.4317
Epoch 17/100
 - 0s - loss: 1.0111 - acc: 0.4400
Epoch 18/100
 - 0s - loss: 1.0097 - acc: 0.4430
Epoch 19/100
 - 0s - loss: 1.0084 - acc: 0.4460
Epoch 20/100
 - 0s - loss: 1.0074 - acc: 0.4513
Epoch 21/100
 - 0s - loss: 1.0063 - acc: 0.4566
Epoch 22/100
 - 0s - loss: 1.0050 - acc: 0.4596
Epoch 23/100
 - 0s - loss: 1.0041 - acc: 0.4558
Epoch 24/100
 - 0s - loss: 1.0031 - acc: 0.4581
Epoch 25/100
 - 0s - loss: 1.0022 - acc: 0.4626
Epoch 26/100
 - 0s - loss: 1.0013 - acc: 0.4642
Epoch 27/100
 - 0s - loss: 1.0003 - acc: 0.4672
Epoch 28/100
 - 0s - loss: 0.9995 - acc: 0.4732
Epoch 29/100
 - 0s - loss: 0.9987 - acc: 0.4770
Epoch 30/100
 - 0s - loss: 0.9979 - acc: 0.4800
Epoch 31/100
 - 0s - loss: 0.9971 - acc: 0.4808
Epoch 32/100
 - 0s - loss: 0.9964 - acc: 0.4875
Epoch 33/100
 - 0s - loss: 0.9957 - acc: 0.4823
Epoch 34/100
 - 0s - loss: 0.9950 - acc: 0.4853
Epoch 35/100
 - 0s - loss: 0.9943 - acc: 0.4913
Epoch 36/100
 - 0s - loss: 0.9936 - acc: 0.4921
Epoch 37/100
 - 0s - loss: 0.9929 - acc: 0.4921
Epoch 38/100
 - 0s - loss: 0.9922 - acc: 0.4951
Epoch 39/100
 - 0s - loss: 0.9916 - acc: 0.4928
Epoch 40/100
 - 0s - loss: 0.9910 - acc: 0.4921
Epoch 41/100
 - 0s - loss: 0.9903 - acc: 0.4943
Epoch 42/100
 - 0s - loss: 0.9897 - acc: 0.4913
Epoch 43/100
 - 0s - loss: 0.9891 - acc: 0.4928
Epoch 44/100
 - 0s - loss: 0.9884 - acc: 0.4943
Epoch 45/100
 - 0s - loss: 0.9879 - acc: 0.4958
Epoch 46/100
 - 0s - loss: 0.9873 - acc: 0.4974
Epoch 47/100
 - 0s - loss: 0.9867 - acc: 0.4936
Epoch 48/100
 - 0s - loss: 0.9862 - acc: 0.4958
Epoch 49/100
 - 0s - loss: 0.9857 - acc: 0.4996
Epoch 50/100
 - 0s - loss: 0.9851 - acc: 0.4981
Epoch 51/100
 - 0s - loss: 0.9846 - acc: 0.4989
Epoch 52/100
 - 0s - loss: 0.9840 - acc: 0.4958
Epoch 53/100
 - 0s - loss: 0.9835 - acc: 0.4951
Epoch 54/100
 - 0s - loss: 0.9830 - acc: 0.4974
Epoch 55/100
 - 0s - loss: 0.9825 - acc: 0.4996
Epoch 56/100
 - 0s - loss: 0.9820 - acc: 0.4958
Epoch 57/100
 - 0s - loss: 0.9815 - acc: 0.4966
Epoch 58/100
 - 0s - loss: 0.9810 - acc: 0.4996
Epoch 59/100
 - 0s - loss: 0.9805 - acc: 0.4981
Epoch 60/100
 - 0s - loss: 0.9801 - acc: 0.5019
Epoch 61/100
 - 0s - loss: 0.9796 - acc: 0.4996
Epoch 62/100
 - 0s - loss: 0.9792 - acc: 0.5019
Epoch 63/100
 - 0s - loss: 0.9786 - acc: 0.4989
Epoch 64/100
 - 0s - loss: 0.9782 - acc: 0.4996
Epoch 65/100
 - 0s - loss: 0.9777 - acc: 0.4974
Epoch 66/100
 - 0s - loss: 0.9773 - acc: 0.4996
Epoch 67/100
 - 0s - loss: 0.9768 - acc: 0.5004
Epoch 68/100
 - 0s - loss: 0.9763 - acc: 0.4974
Epoch 69/100
 - 0s - loss: 0.9760 - acc: 0.5004
Epoch 70/100
 - 0s - loss: 0.9756 - acc: 0.4958
Epoch 71/100
 - 0s - loss: 0.9751 - acc: 0.4989
Epoch 72/100
 - 0s - loss: 0.9748 - acc: 0.4981
Epoch 73/100
 - 0s - loss: 0.9743 - acc: 0.4974
Epoch 74/100
 - 0s - loss: 0.9739 - acc: 0.5004
Epoch 75/100
 - 0s - loss: 0.9734 - acc: 0.4989
Epoch 76/100
 - 0s - loss: 0.9731 - acc: 0.4928
Epoch 77/100
 - 0s - loss: 0.9726 - acc: 0.4981
Epoch 78/100
 - 0s - loss: 0.9722 - acc: 0.4981
Epoch 79/100
 - 0s - loss: 0.9719 - acc: 0.4966
Epoch 80/100
 - 0s - loss: 0.9715 - acc: 0.4974
Epoch 81/100
 - 0s - loss: 0.9712 - acc: 0.4981
Epoch 82/100
 - 0s - loss: 0.9708 - acc: 0.4943
Epoch 83/100
 - 0s - loss: 0.9704 - acc: 0.4974
Epoch 84/100
 - 0s - loss: 0.9700 - acc: 0.4974
Epoch 85/100
 - 0s - loss: 0.9698 - acc: 0.4989
Epoch 86/100
 - 0s - loss: 0.9694 - acc: 0.4989
Epoch 87/100
 - 0s - loss: 0.9691 - acc: 0.5004
Epoch 88/100
 - 0s - loss: 0.9687 - acc: 0.5004
Epoch 89/100
 - 0s - loss: 0.9684 - acc: 0.4996
Epoch 90/100
 - 0s - loss: 0.9681 - acc: 0.4996
Epoch 91/100
 - 0s - loss: 0.9677 - acc: 0.4981
Epoch 92/100
 - 0s - loss: 0.9674 - acc: 0.4996
Epoch 93/100
 - 0s - loss: 0.9671 - acc: 0.4989
Epoch 94/100
 - 0s - loss: 0.9668 - acc: 0.4966
Epoch 95/100
 - 0s - loss: 0.9664 - acc: 0.4974
Epoch 96/100
 - 0s - loss: 0.9661 - acc: 0.4966
Epoch 97/100
 - 0s - loss: 0.9658 - acc: 0.4989
Epoch 98/100
 - 0s - loss: 0.9655 - acc: 0.5019
Epoch 99/100
 - 0s - loss: 0.9652 - acc: 0.4989
Epoch 100/100
 - 0s - loss: 0.9649 - acc: 0.4989

In [41]:
model.evaluate(X_test, Y_test, )

148/148 [==============================] - 0s 28us/step

[0.9960104388159674, 0.4121621629676303]

In [42]:
model.metrics_names

['loss', 'acc']

In [43]:
p = model.predict(X_test)
p[:5]

array([[0.58704156, 0.16410533, 0.24885313],
       [0.3077506 , 0.3687825 , 0.323467  ],
       [0.44545352, 0.18773234, 0.3668142 ],
       [0.34437677, 0.11833021, 0.537293  ],
       [0.5736346 , 0.1169778 , 0.30938753]], dtype=float32)

## Building Second Model

<img src='img/model_architecture.png' />

Word Embedding for Education

In [44]:
edu_input = Input(shape=(1, ), name="edu")
edu_embed = Embedding(input_dim=n_edu_levels, output_dim=4,)(edu_input)

Word Embedding for H_education

In [45]:
h_edu_input = Input(shape=(1, ), name="h_edu")
h_edu_embed = Embedding(input_dim=n_h_edu_levels, output_dim=4)(h_edu_input)

Word Embedding for H_occupation

In [46]:
h_occ_input = Input(shape=(1, ), name="occ")
h_occ_embed = Embedding(input_dim=n_h_occ_levels, output_dim=4)(h_occ_input)

Word Embedding for living_standard

In [47]:
liv_input = Input(shape=(1, ),name="Liv")
liv_embed = Embedding(input_dim=n_liv_std_levels, output_dim=4 )(liv_input)

Concatenating output from all 4 embedding layers and Flatten it

In [48]:
merge_cat_emb = concatenate([edu_embed, h_edu_embed, h_occ_embed, liv_embed])
merge_cat_emb_flat = Flatten()(merge_cat_emb)

In [49]:
num_input = Input(shape=(scaled_num_ind_attr_train.shape[1], ))

merge_two = concatenate([merge_cat_emb_flat, num_input])

merged_layer = Dense(8, activation= 'relu')(merge_two)
output_layer = Dense(3, activation='softmax')(merged_layer)

model = Model(inputs=[edu_input, h_edu_input, h_occ_input, liv_input, num_input], outputs=output_layer)

In [50]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
edu (InputLayer)                (None, 1)            0
__________________________________________________________________________________________________
h_edu (InputLayer)              (None, 1)            0
__________________________________________________________________________________________________
occ (InputLayer)                (None, 1)            0
__________________________________________________________________________________________________
Liv (InputLayer)                (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 4)         16          edu[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 4)         16          h_edu[0][0]
__________________________________________________________________________________________________
embedding_3 (Embedding)         (None, 1, 4)         16          occ[0][0]
__________________________________________________________________________________________________
embedding_4 (Embedding)         (None, 1, 4)         16          Liv[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 1, 16)        0           embedding_1[0][0]
                                                                 embedding_2[0][0]
                                                                 embedding_3[0][0]
                                                                 embedding_4[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 16)           0           concatenate_1[0][0]
__________________________________________________________________________________________________
input_1 (InputLayer)            (None, 5)            0
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 21)           0           flatten_1[0][0]
                                                                 input_1[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 8)            176         concatenate_2[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 3)            27          dense_3[0][0]
==================================================================================================
Total params: 267
Trainable params: 267
Non-trainable params: 0
__________________________________________________________________________________________________

In [51]:
model.compile(loss='categorical_crossentropy', optimizer='adagrad', metrics=['accuracy'])

In [52]:
model.fit([edu_ind_attr_train, h_edu_ind_attr_train,
           h_occ_ind_attr_train, liv_std_ind_attr_train, 
           scaled_num_ind_attr_train], 
          y=Y_train, 
          epochs=150, verbose=2)

Epoch 1/150
 - 0s - loss: 1.0547 - acc: 0.3917
Epoch 2/150
 - 0s - loss: 1.0359 - acc: 0.4219
Epoch 3/150
 - 0s - loss: 1.0248 - acc: 0.4272
Epoch 4/150
 - 0s - loss: 1.0166 - acc: 0.4302
Epoch 5/150
 - 0s - loss: 1.0104 - acc: 0.4543
Epoch 6/150
 - 0s - loss: 1.0060 - acc: 0.4747
Epoch 7/150
 - 0s - loss: 1.0026 - acc: 0.4762
Epoch 8/150
 - 0s - loss: 0.9999 - acc: 0.4808
Epoch 9/150
 - 0s - loss: 0.9977 - acc: 0.4823
Epoch 10/150
 - 0s - loss: 0.9960 - acc: 0.4860
Epoch 11/150
 - 0s - loss: 0.9945 - acc: 0.4823
Epoch 12/150
 - 0s - loss: 0.9933 - acc: 0.4823
Epoch 13/150
 - 0s - loss: 0.9919 - acc: 0.4838
Epoch 14/150
 - 0s - loss: 0.9909 - acc: 0.4860
Epoch 15/150
 - 0s - loss: 0.9900 - acc: 0.4845
Epoch 16/150
 - 0s - loss: 0.9890 - acc: 0.4868
Epoch 17/150
 - 0s - loss: 0.9882 - acc: 0.4853
Epoch 18/150
 - 0s - loss: 0.9874 - acc: 0.4838
Epoch 19/150
 - 0s - loss: 0.9867 - acc: 0.4808
Epoch 20/150
 - 0s - loss: 0.9860 - acc: 0.4792
Epoch 21/150
 - 0s - loss: 0.9852 - acc: 0.4860
Epoch 22/150
 - 0s - loss: 0.9846 - acc: 0.4860
Epoch 23/150
 - 0s - loss: 0.9840 - acc: 0.4838
Epoch 24/150
 - 0s - loss: 0.9834 - acc: 0.4845
Epoch 25/150
 - 0s - loss: 0.9828 - acc: 0.4830
Epoch 26/150
 - 0s - loss: 0.9822 - acc: 0.4845
Epoch 27/150
 - 0s - loss: 0.9816 - acc: 0.4838
Epoch 28/150
 - 0s - loss: 0.9811 - acc: 0.4845
Epoch 29/150
 - 0s - loss: 0.9806 - acc: 0.4860
Epoch 30/150
 - 0s - loss: 0.9801 - acc: 0.4853
Epoch 31/150
 - 0s - loss: 0.9797 - acc: 0.4860
Epoch 32/150
 - 0s - loss: 0.9791 - acc: 0.4868
Epoch 33/150
 - 0s - loss: 0.9788 - acc: 0.4883
Epoch 34/150
 - 0s - loss: 0.9783 - acc: 0.4868
Epoch 35/150
 - 0s - loss: 0.9778 - acc: 0.4830
Epoch 36/150
 - 0s - loss: 0.9773 - acc: 0.4883
Epoch 37/150
 - 0s - loss: 0.9769 - acc: 0.4815
Epoch 38/150
 - 0s - loss: 0.9764 - acc: 0.4875
Epoch 39/150
 - 0s - loss: 0.9759 - acc: 0.4860
Epoch 40/150
 - 0s - loss: 0.9756 - acc: 0.4853
Epoch 41/150
 - 0s - loss: 0.9751 - acc: 0.4898
Epoch 42/150
 - 0s - loss: 0.9747 - acc: 0.4868
Epoch 43/150
 - 0s - loss: 0.9743 - acc: 0.4891
Epoch 44/150
 - 0s - loss: 0.9739 - acc: 0.4906
Epoch 45/150
 - 0s - loss: 0.9736 - acc: 0.4913
Epoch 46/150
 - 0s - loss: 0.9732 - acc: 0.4921
Epoch 47/150
 - 0s - loss: 0.9730 - acc: 0.4891
Epoch 48/150
 - 0s - loss: 0.9726 - acc: 0.4898
Epoch 49/150
 - 0s - loss: 0.9722 - acc: 0.4951
Epoch 50/150
 - 0s - loss: 0.9719 - acc: 0.4921
Epoch 51/150
 - 0s - loss: 0.9717 - acc: 0.4921
Epoch 52/150
 - 0s - loss: 0.9713 - acc: 0.4936
Epoch 53/150
 - 0s - loss: 0.9710 - acc: 0.4966
Epoch 54/150
 - 0s - loss: 0.9707 - acc: 0.4974
Epoch 55/150
 - 0s - loss: 0.9704 - acc: 0.4943
Epoch 56/150
 - 0s - loss: 0.9701 - acc: 0.4943
Epoch 57/150
 - 0s - loss: 0.9698 - acc: 0.4951
Epoch 58/150
 - 0s - loss: 0.9695 - acc: 0.4981
Epoch 59/150
 - 0s - loss: 0.9692 - acc: 0.4966
Epoch 60/150
 - 0s - loss: 0.9689 - acc: 0.4981
Epoch 61/150
 - 0s - loss: 0.9687 - acc: 0.4981
Epoch 62/150
 - 0s - loss: 0.9684 - acc: 0.4981
Epoch 63/150
 - 0s - loss: 0.9682 - acc: 0.4981
Epoch 64/150
 - 0s - loss: 0.9679 - acc: 0.4958
Epoch 65/150
 - 0s - loss: 0.9677 - acc: 0.4974
Epoch 66/150
 - 0s - loss: 0.9673 - acc: 0.4974
Epoch 67/150
 - 0s - loss: 0.9672 - acc: 0.5019
Epoch 68/150
 - 0s - loss: 0.9669 - acc: 0.4974
Epoch 69/150
 - 0s - loss: 0.9666 - acc: 0.4989
Epoch 70/150
 - 0s - loss: 0.9665 - acc: 0.4989
Epoch 71/150
 - 0s - loss: 0.9662 - acc: 0.4981
Epoch 72/150
 - 0s - loss: 0.9660 - acc: 0.4989
Epoch 73/150
 - 0s - loss: 0.9657 - acc: 0.5011
Epoch 74/150
 - 0s - loss: 0.9655 - acc: 0.4996
Epoch 75/150
 - 0s - loss: 0.9653 - acc: 0.4981
Epoch 76/150
 - 0s - loss: 0.9651 - acc: 0.5042
Epoch 77/150
 - 0s - loss: 0.9648 - acc: 0.5019
Epoch 78/150
 - 0s - loss: 0.9646 - acc: 0.5011
Epoch 79/150
 - 0s - loss: 0.9644 - acc: 0.5019
Epoch 80/150
 - 0s - loss: 0.9642 - acc: 0.5057
Epoch 81/150
 - 0s - loss: 0.9640 - acc: 0.5042
Epoch 82/150
 - 0s - loss: 0.9638 - acc: 0.5034
Epoch 83/150
 - 0s - loss: 0.9636 - acc: 0.5034
Epoch 84/150
 - 0s - loss: 0.9634 - acc: 0.5064
Epoch 85/150
 - 0s - loss: 0.9631 - acc: 0.5057
Epoch 86/150
 - 0s - loss: 0.9629 - acc: 0.5057
Epoch 87/150
 - 0s - loss: 0.9628 - acc: 0.5042
Epoch 88/150
 - 0s - loss: 0.9625 - acc: 0.5064
Epoch 89/150
 - 0s - loss: 0.9623 - acc: 0.5034
Epoch 90/150
 - 0s - loss: 0.9621 - acc: 0.5064
Epoch 91/150
 - 0s - loss: 0.9619 - acc: 0.5094
Epoch 92/150
 - 0s - loss: 0.9617 - acc: 0.5072
Epoch 93/150
 - 0s - loss: 0.9615 - acc: 0.5094
Epoch 94/150
 - 0s - loss: 0.9614 - acc: 0.5094
Epoch 95/150
 - 0s - loss: 0.9612 - acc: 0.5094
Epoch 96/150
 - 0s - loss: 0.9610 - acc: 0.5109
Epoch 97/150
 - 0s - loss: 0.9608 - acc: 0.5079
Epoch 98/150
 - 0s - loss: 0.9606 - acc: 0.5064
Epoch 99/150
 - 0s - loss: 0.9605 - acc: 0.5087
Epoch 100/150
 - 0s - loss: 0.9603 - acc: 0.5109
Epoch 101/150
 - 0s - loss: 0.9601 - acc: 0.5109
Epoch 102/150
 - 0s - loss: 0.9599 - acc: 0.5094
Epoch 103/150
 - 0s - loss: 0.9598 - acc: 0.5094
Epoch 104/150
 - 0s - loss: 0.9597 - acc: 0.5102
Epoch 105/150
 - 0s - loss: 0.9595 - acc: 0.5109
Epoch 106/150
 - 0s - loss: 0.9593 - acc: 0.5109
Epoch 107/150
 - 0s - loss: 0.9591 - acc: 0.5102
Epoch 108/150
 - 0s - loss: 0.9589 - acc: 0.5109
Epoch 109/150
 - 0s - loss: 0.9588 - acc: 0.5125
Epoch 110/150
 - 0s - loss: 0.9586 - acc: 0.5117
Epoch 111/150
 - 0s - loss: 0.9585 - acc: 0.5132
Epoch 112/150
 - 0s - loss: 0.9583 - acc: 0.5125
Epoch 113/150
 - 0s - loss: 0.9581 - acc: 0.5094
Epoch 114/150
 - 0s - loss: 0.9580 - acc: 0.5125
Epoch 115/150
 - 0s - loss: 0.9578 - acc: 0.5117
Epoch 116/150
 - 0s - loss: 0.9577 - acc: 0.5109
Epoch 117/150
 - 0s - loss: 0.9575 - acc: 0.5094
Epoch 118/150
 - 0s - loss: 0.9574 - acc: 0.5125
Epoch 119/150
 - 0s - loss: 0.9573 - acc: 0.5125
Epoch 120/150
 - 0s - loss: 0.9571 - acc: 0.5117
Epoch 121/150
 - 0s - loss: 0.9570 - acc: 0.5109
Epoch 122/150
 - 0s - loss: 0.9569 - acc: 0.5102
Epoch 123/150
 - 0s - loss: 0.9567 - acc: 0.5117
Epoch 124/150
 - 0s - loss: 0.9565 - acc: 0.5125
Epoch 125/150
 - 0s - loss: 0.9564 - acc: 0.5125
Epoch 126/150
 - 0s - loss: 0.9562 - acc: 0.5140
Epoch 127/150
 - 0s - loss: 0.9562 - acc: 0.5125
Epoch 128/150
 - 0s - loss: 0.9560 - acc: 0.5109
Epoch 129/150
 - 0s - loss: 0.9559 - acc: 0.5147
Epoch 130/150
 - 0s - loss: 0.9557 - acc: 0.5140
Epoch 131/150
 - 0s - loss: 0.9557 - acc: 0.5140
Epoch 132/150
 - 0s - loss: 0.9554 - acc: 0.5147
Epoch 133/150
 - 0s - loss: 0.9553 - acc: 0.5125
Epoch 134/150
 - 0s - loss: 0.9552 - acc: 0.5147
Epoch 135/150
 - 0s - loss: 0.9550 - acc: 0.5162
Epoch 136/150
 - 0s - loss: 0.9549 - acc: 0.5140
Epoch 137/150
 - 0s - loss: 0.9547 - acc: 0.5140
Epoch 138/150
 - 0s - loss: 0.9546 - acc: 0.5140
Epoch 139/150
 - 0s - loss: 0.9545 - acc: 0.5155
Epoch 140/150
 - 0s - loss: 0.9543 - acc: 0.5147
Epoch 141/150
 - 0s - loss: 0.9542 - acc: 0.5140
Epoch 142/150
 - 0s - loss: 0.9541 - acc: 0.5155
Epoch 143/150
 - 0s - loss: 0.9540 - acc: 0.5147
Epoch 144/150
 - 0s - loss: 0.9539 - acc: 0.5155
Epoch 145/150
 - 0s - loss: 0.9538 - acc: 0.5147
Epoch 146/150
 - 0s - loss: 0.9536 - acc: 0.5140
Epoch 147/150
 - 0s - loss: 0.9535 - acc: 0.5170
Epoch 148/150
 - 0s - loss: 0.9533 - acc: 0.5162
Epoch 149/150
 - 0s - loss: 0.9533 - acc: 0.5155
Epoch 150/150
 - 0s - loss: 0.9531 - acc: 0.5155

In [53]:
model.evaluate([edu_ind_attr_test, h_edu_ind_attr_test, h_occ_ind_attr_test, liv_std_ind_attr_test, scaled_num_ind_attr_test], Y_test)

148/148 [==============================] - 0s 364us/step

[0.9964731190655682, 0.46621621460527984]

In [54]:
p = model.predict([edu_ind_attr_test, h_edu_ind_attr_test, h_occ_ind_attr_test, liv_std_ind_attr_test, scaled_num_ind_attr_test])
p[:5]

array([[0.7031926 , 0.14629702, 0.15051033],
       [0.39093602, 0.27365983, 0.3354042 ],
       [0.5069274 , 0.16375408, 0.32931858],
       [0.37941438, 0.09888829, 0.5216974 ],
       [0.56994075, 0.11730033, 0.31275883]], dtype=float32)