In [3]:
import os
import sys
os.environ["SPARK_HOME"] = "/usr/hdp/current/spark2-client"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.6-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

In [4]:
from pyspark.conf import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

conf = SparkConf().setAppName("Batch56_CSE7322c_CUTe_PartA").setMaster('local[*]').set("spark.driver.extraClassPath","/home/datasets/mysql-connector-java-8.0.13.jar").set("spark.executor.extraClassPath","/home/datasets/mysql-connector-java-8.0.13.jar")
sc = SparkContext(conf=conf)  
spark = SparkSession(sc)

In [5]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pandas as pd

In [6]:
item=  spark.read.format("jdbc").options(url="jdbc:mysql://172.16.0.227:3306/insofe_web_sales_db",driver="com.mysql.jdbc.Driver",dbtable="item",user="insofeadmin",password="insofe_password").load()

In [7]:
warehouse=  spark.read.format("jdbc").options(url="jdbc:mysql://172.16.0.227:3306/insofe_web_sales_db",driver="com.mysql.jdbc.Driver",dbtable="warehouse",user="insofeadmin",password="insofe_password").load()

In [8]:
web_sales=  spark.read.format("jdbc").options(url="jdbc:mysql://172.16.0.227:3306/insofe_web_sales_db",driver="com.mysql.jdbc.Driver",dbtable="web_sales",user="insofeadmin",password="insofe_password").load()

### 1. Find the top 10 items (ws_item_sk) that got sold online and their count from the web_sales table. (2M)

### 2. Group the items based on brand(i_brand) and display the top 50 brands (Use item table). (2M)

### 3. Display the top 50 items in each brand and class. (2M)

### 4. Display top 20 items that got sold online ordered based on Total Quantity. (2M)

### 5. Display the count of classes for each category of items. (2M)

### 6. Display the i_brand, i_wholesale_cost, i_class for the top 25 items that got sold online along with their count. (Use web_sales and item tables) (3M)

### 7. Display the top 25 brands (i_brand) that got sold online along with their count. (3M)

### 8. Display the top 25 classes (i_class) that got sold online along with their count. (3M)

### 9. Display the sum of the ws_ext_sales_price for each class(i_class) that got sold online. (3M)

### 10. Display the classes (i_class) and the aggregated sum of net profit for each class of items sold online and their warehouse information (ws_warehouse_sk). (3M)